{% extends 'base.html' %}
{% block title %}
Профиль пользователя
{% if author.get_full_name %}
{{ author.get_full_name }}
{% else %}
{{ author.username }}
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <h1>
    Все посты пользователя:
    {% if author.get_full_name %}
    {{ author.get_full_name }}
    {% else %}
    {{ author.username }}
    {% endif %}
  </h1>
  <h3>Всего постов: {{ author.posts.count }}</h3>
  {% for post in page_obj %}
  {% include 'posts/includes/post.html' %}
  {% if not forloop.last %}<hr>
  {% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}
