{% extends 'base.html' %}
{% block title %}
Профиль пользователя
{% if author.get_full_name %}
{{ author.get_full_name }}
{% else %}
{{ author.username }}
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <h1>
    Все посты пользователя:
    {% if author.get_full_name %}
    {{ author.get_full_name }}
    {% else %}
    {{ author.username }}
    {% endif %}
  </h1>
  <h3>Всего постов: {{ author.posts.count }}</h3>
  <h3>Всего подписок: {{ author.follower.count }}</h3>
  <h3>Всего подписчиков: {{ author.following.count }}</h3>
  {% if request.user != user %} 
  {% if following %}
  <a class="btn btn-lg btn-light mb-5 mt-2"
  href="{% url 'posts:profile_unfollow' author.username %}" role="button">Отписаться</a>
  {% else %}
  <a class="btn btn-lg btn-primary mb-5 mt-2"
  href="{% url 'posts:profile_follow' author.username %}" role="button">Подписаться</a>
  {% endif %}
  {% endif %}
  {% for post in page_obj %}
  {% include 'posts/includes/post.html' %}
  {% if not forloop.last %}<hr>
  {% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}
